body {
    background-color: rgba(211,211,211,255);
}

.saopaulo {
    background-color: rgba(255,236,200,255);
    margin-bottom: 10px;
}

.saopaulo p, .saopaulo h2, .saopaulo h3 {
    color: #d34c47;
}

.yellowEmphasis {
    background-color: #ecf265;
    color: black;
}

.riodejaneiro {
    background-color: #d2e0fb; 
    margin-bottom: 10px;
}

.riodejaneiro p, .riodejaneiro h2, .riodejaneiro h3 {
    color: #4c83bf;
}

.minasgerais {
    background-color: #fefae0;
}

.minasgerais p, .minasgerais h2, .minasgerais h3 {
    color: #60825a;
}